@using System.Security.Cryptography.X509Certificates
@using System.Threading
@using HardwareStore.Data
@using HardwareStore.ViewModels
@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Internal.Account
@using Microsoft.EntityFrameworkCore
@model HardwareStore.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Kompex";
    Layout = "_UserLayout";
    var cssClass = "imgShow";
}

<div class="content">
    <h1 class="hotShotCaption">Okazja Dnia</h1>
    <a href="@Url.Action("Details", "Products", new {id = Model.HotShot?.ProductId })" class="hotShotBorder">
        <div class="hotShot">
            <img src="@Model.HotShot?.Product?.Gallery?.ImageGalleries?.FirstOrDefault()?.Image?.Url"
                 alt="@Model.HotShot?.Product?.Gallery?.ImageGalleries?.FirstOrDefault()?.Image?.Name">
            <h2 class="hotShotProductName">@Model.HotShot?.Product?.Name</h2>
            <div class="prices">
                <span class="oldPrice">@Model.HotShot?.Product?.Price zł</span>
                <span class="newPrice">@Model.HotShot?.NewPrice zł</span>
            </div>
            <div class="info">
                <span>sprzedano <span class="soldValue">@Model.HotShot?.ItemsSold</span> </span>
                <span>pozostało <span class="leftValue">@(Model.HotShot?.Quantity - Model.HotShot?.ItemsSold)</span> </span>
            </div>
            <div class="progressBar">
                <div class="progress"></div>
            </div>
            <h2 class="timeCaption">Oferta kończy się za:</h2>
            <h2 class="timeLeft">00:00:00</h2>
            @Html.HiddenFor(d => d.FormattedEndDate, new { id = "endDate" })
        </div>
    </a>

    <a href="#" class="newsCaption">Nowości</a>
    <div class="slider">
        <div class="left-arrow">
            <div class="arrow"><i class="fas fa-angle-left"></i></div>
        </div>



        @foreach (var item in Model.Posts)
        {
            if (item.Gallery != null)
            {
                <a href="@Url.Action("Details", "Posts", new {id = item.PostId})" class="imgHolder @cssClass">
                    <img class="img" src="@item.Gallery?.ImageGalleries?.FirstOrDefault()?.Image?.Url" alt="@item.Gallery?.ImageGalleries?.FirstOrDefault()?.Image?.Name">
                </a>

                cssClass = "imgHidden";
            }
        }

        <div class="right-arrow">
            <div class="arrow"><i class="fas fa-angle-right"></i></div>
        </div>
        <div class="dotHolder">
        </div>
    </div>

    <h1 class="bestsellersCaption">Bestsellery</h1>
    <div class="bestsellers">
        @foreach (var item in Model.Bestsellers)
        {
            <a href="@Url.Action("Details", "Products", new { @id = item.ProductId })" class="product">
                <img src="@item.Gallery?.ImageGalleries?.FirstOrDefault()?.Image?.Url" alt="@item.Gallery?.ImageGalleries?.FirstOrDefault()?.Image?.Name">
                <h3>@item.Brand.Name @item.Name</h3>
                <h4>@(item.Price)zł</h4>
            </a>
        }
    </div>

    <h1 class="brandsCaption">Strefa Marek</h1>

    <div class="brands">
        <button class="prev"><i class="fas fa-arrow-left"></i></button>
        <button class="next"><i class="fas fa-arrow-right"></i></button>

        @foreach (var item in Model.Brands)
        {
            <a href="@Url.Action("Search", "Products", new { SearchText = item.Name, @Filter = 0})" class="brand">
                <img src="@item.Image.Url"
                     alt="@item.Name">
            </a>
        }


    </div>

    <h1 class="recommendedCaption">Polecane</h1>
    <div class="recommended">
        @foreach (var item in Model.RecommendedProducts)
        {
            <a href="@Url.Action("Details", "Products", new {id = item.ProductId})" class="product">
                <img src="@item.Gallery?.ImageGalleries?.FirstOrDefault()?.Image?.Url" alt="@item.Gallery?.ImageGalleries?.FirstOrDefault()?.Image?.Name">
                <h3>@item.Brand.Name @item.Name</h3>
                <h4>@item.Price zł</h4>
            </a>
        }
    </div>

    <h1 class="postsCaption">Informacje</h1>
    <div class="posts">

        @foreach (var post in Model.Posts)
        {
            <div class="post">
                <h1>@post.Title<a href="@Url.Action("Details", "Posts", new { @id = post.PostId})">[>>]</a></h1>
            </div>
        }


        <a href="" class="morePosts">Pokaż wszystkie</a>
    </div>

</div>

@section Scripts
{
    <script src="~/js/hotShot.js"></script>
}
