@using HardwareStore.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HardwareStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
@*@{
    var ss = context.Sections.ToList();
}

@foreach (var tej in ss)
    {
        <h1>@tej.Name</h1>
}*@

<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HardwareStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            @Html.ActionLink("Sections", "Index", "Sections", null, new { @class = "nav-link text-dark" })
                        </li>

                        <li class="nav-item">
                            @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                            @Html.ActionLink("Categories", "Index", "Categories", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@
                            @Html.ActionLink("Brands", "Index", "Brands", null, new { @class = "nav-link text-dark" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Addresses", "Index", "Addresses", null, new { @class = "nav-link text-dark" })
                        </li>


                        <li class="nav-item">
                            @Html.ActionLink("Images", "Index", "Images", null, new { @class = "nav-link text-dark" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Galleries", "Index", "Galleries", null, new { @class = "nav-link text-dark" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Posts", "Index", "Posts", null, new { @class = "nav-link text-dark" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Products", "Index", "Products", null, new { @class = "nav-link text-dark" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Tags", "Index", "Tags", null, new { @class = "nav-link text-dark" })
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
        <main role="main" class="pb-3">
@RenderBody()
</main>
    </div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - HardwareStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@*<script src="~/js/gallery.js" asp-append-version="true"></script>*@
@RenderSection("Scripts", required: false)
</body>
</html>
