@model HardwareStore.Models.DbModels.Image

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły zdjęcie @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>


        <dt class="col-sm-2">
            Podgląd
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Url" style="max-width: 100px" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ImageId">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
