@model HardwareStore.ViewModels.Account.ResetPasswordViewModel

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Resetowanie hasła";
}

<div class="inputForm">
    <div class="loginForm">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
        <div class="inputGroup">
            <div asp-validation-summary="All" class="warningText"></div>
        </div>
            <div class="inputGroup">
                @Html.LabelFor(d => d.Email)
                @Html.TextBoxFor(d => d.Email, new { @class = "textInput" })
                @Html.ValidationMessageFor(d => d.Email, null, new { @class = "warningText" })
            </div>


            <div class="inputGroup">
                @Html.LabelFor(d => d.Password, "Nowe hasło")
                @Html.TextBoxFor(d => d.Password, new { @class = "textInput", type="password" })
                @Html.ValidationMessageFor(d => d.Password, null, new { @class = "warningText" })
            </div>

            <div class="inputGroup">
                @Html.LabelFor(d => d.ConfirmPassword, "Powtórz hasło")
                @Html.TextBoxFor(d => d.ConfirmPassword, new { @class = "textInput",  type="password"})
                @Html.ValidationMessageFor(d => d.ConfirmPassword, null, new { @class = "warningText" })
            </div>

            <div class="inputGroup">
                @Html.LabelFor(d => d.Token)
                @Html.TextAreaFor(d => d.Token, new { @class = "textInput" })
                @Html.ValidationMessageFor(d => d.Token, null, new { @class = "warningText" })
            </div>

            <div class="inputGroup">
                <input type="submit" value="Wyślij" class="btn" />
            </div>
        }
    </div>
</div>

@*<div class="inputForm">
    <div class="loginForm">
        @using (Html.BeginForm("SendVerificationToken", "Account", FormMethod.Post))
        {
            <div asp-validation-summary="All" class="warningText"></div>
            <div class="inputGroup">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="textInput" />
                <span asp-validation-for="Email" class="warningText"></span>
            </div>
            <div class="inputGroup">
                <input type="submit" value="Wyślij" class="btn" />
            </div>
        }
    </div>
</div>*@
