@model IEnumerable<HardwareStore.Models.DbModels.HotShot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Okazje dnia</h1>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Nowa cena
            </th>
            <th>
                Ilość
            </th>
            <th>
                Sprzedanych
            </th>
            <th>
                Data rozpoczęcia
            </th>
            <th>
                Data zakończenia
            </th>
            <th>
                Zakończona
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasEnded)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HotShotId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.HotShotId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.HotShotId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
