@model HardwareStore.ViewModels.Admin.UserRolesViewModel

@{
    ViewData["Title"] = "Edytuj role użytkownika";

}


<h1>@Model.User.Email</h1>

@Html.ActionLink("Dodaj rolę", "AssignRoleToUser", new{ id = Model.User.Id})

<table class="table">
    @foreach (var role in Model.Roles)
    {
        <tr>
            <td>
                @role.Name
            </td>
            <td>
                @using (Html.BeginForm("DeleteRoleFromUser", "Admin", FormMethod.Post))
                {
                    <button type="submit" class="btn btn-danger">Usuń</button>
                    @Html.Hidden("roleId", role.Id)
                    @Html.Hidden("userId", Model.User.Id)
                }
            </td>
        </tr>
    }
</table>
