
@{
    ViewData["Title"] = "Panel Admina";
}

<h1>Panel Admina</h1>

<nav class="nav nav-pills flex-column">
    @*<img src="~/Assets/IMG/00brands/apple.png"/>*@

    @Html.ActionLink("Dodaj użytkownika do roli", "AssignRoleToUser", "Admin", null, new { @class = "nav-link" })
    @Html.ActionLink("Lista użytkowników", "StaffList", "Admin", null, new { @class = "nav-link" })
    @Html.ActionLink("Obsługa zamówień", "Index", "OrderProcessing", null, new { @class = "nav-link" })





    @*@Html.ActionLink("Zamówienia", "Index", "Sections", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("DOKONCZYC", "Create", "Sections", null, new { @class = "nav-link ml-3 my-1" })
        </nav>


        @Html.ActionLink("Posty", "Index", "Posts", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("Dodaj post", "Create", "Posts", null, new { @class = "nav-link ml-3 my-1" })
        </nav>

        @Html.ActionLink("Okazje dnia", "Index", "HotShots", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("Dodaj okazję dnia", "Create", "HotShots", null, new { @class = "nav-link ml-3 my-1" })
        </nav>

        @Html.ActionLink("Galerie", "Index", "Galleries", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("Dodaj galerię", "Create", "Galleries", null, new { @class = "nav-link ml-3 my-1" })
            @Html.ActionLink("Zdjęcia", "Index", "Images", null, new { @class = "nav-link ml-3 my-1" })
            @Html.ActionLink("Dodaj zdjęcie", "Create", "Images", null, new { @class = "nav-link ml-3 my-1" })
        </nav>

        @Html.ActionLink("Marki", "Index", "Brands", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("Dodaj markę", "Create", "Brands", null, new { @class = "nav-link ml-3 my-1" })
        </nav>

        @Html.ActionLink("Produkty", "Index", "Products", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("Dodaj produkt", "Create", "Products", null, new { @class = "nav-link ml-3 my-1" })
        </nav>

        @Html.ActionLink("Tagi", "Index", "Tags", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("Dodaj tag", "Create", "Tags", null, new { @class = "nav-link ml-3 my-1" })
        </nav>

        @Html.ActionLink("Sekcje", "Index", "Sections", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("Dodaj sekcję", "Create", "Sections", null, new { @class = "nav-link ml-3 my-1" })
        </nav>

        @Html.ActionLink("Kategorie", "Index", "Categories", null, new { @class = "nav-link" })
        <nav class="nav nav-pills flex-column">
            @Html.ActionLink("Dodaj sekcję", "Create", "Categories", null, new { @class = "nav-link ml-3 my-1" })
        </nav>*@

</nav>
