
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Url.Action("EbeEbe");
        </div>
    </div>


    @Url.Action("EbeEbe");
    @Url.Action("EbeEbe");
    @Url.Action("EbeEbe");
    @Url.Action("EbeEbe");
    @Url.Action("EbeEbe");

</div>*@
