@model IEnumerable<HardwareStore.Models.DbModels.Post>

@{
    ViewData["Title"] = "Posty";
}

<h1>Posty</h1>

<p>
    <a asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Czy aktywny
            </th>
            <th>
                Data publikacji
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
      

            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
