@model HardwareStore.ViewModels.Galleries.CreateGalleryViewModel

@{
    ViewData["Title"] = "Utwórz nową galerię";
}

<h1>Utwórz nową galerię</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Galleries", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(null, new { @class = "text-danger" })
            @Html.HiddenFor(d => d.ProductId)

            <div class="form-group">
                @Html.LabelFor(d => d.Gallery.Name, "Nazwa", new { @class = "control-label" })
                @Html.TextBoxFor(d => d.Gallery.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Gallery.Name, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
