@using Microsoft.AspNetCore.Razor.Language.Intermediate
@model HardwareStore.ViewModels.Galleries.GalleryViewModel

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edytuj galerię "@Model.Gallery.Name"</h1>*@
<h1 style="margin-bottom: 50px"><a href="@Url.Action("Index", "Galleries")"><i class="fas fa-arrow-left"></i></a> Edytuj galerię @Html.TextBoxFor(d => d.Gallery.Name, new { @class = "galleryName" })</h1>
@Html.HiddenFor(d=>d.Gallery.GalleryId, new { id = "galleryId"})

@Html.ActionLink("Dodaj zdjęcie", "AddImageToGallery", "Galleries", new { id = Model.Gallery.GalleryId })
<br/>
@Html.ActionLink("Wybierz zdjęcie z listy", "ImageList", "Galleries", new { id = Model.Gallery.GalleryId })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Images[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images[0].Url)
        </th>
        <th>Edytuj</th>
    </tr>

    @for (var i = 0; i < Model.Images.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Images[i].Name)
            </td>
            <td style="display: flex">
                <img src="@Model.Images[i].Url" style="width:150px" />
                @Html.DisplayFor(d => d.Images[i].Url)
            </td>
            <td>
                @Html.AntiForgeryToken()
                <button class="btnSubstract">-</button>
                @Html.TextBoxFor(d => Model.ImageGalleries[i].Order, new { @class = "imageToSend", @type = "number", min = 1, max = Model.ImageGalleries.Max(d => d.Order) })
                <button class="btnAdd">+</button>
                <button class="btn btn-danger btnDelete">X</button>


                @Html.Hidden("Order", Model.ImageGalleries[i].Order)
                @Html.Hidden("GalleryId", Model.ImageGalleries[i].GalleryId)
                @Html.Hidden("ImageId", Model.ImageGalleries[i].ImageId, new { @class = "imgId" })
            </td>
        </tr>
    }

</table>

@section Scripts
{
    <script src="~/js/galleries.js" asp-append-version="true"></script>
}




















@*<h4>Gallery</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="GalleryId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

