@model HardwareStore.ViewModels.Orders.OrderInfoViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var displayNone = String.Empty;
    var boxActive = "boxActive";
}


@using (Html.BeginForm("NewOrder", "Orders", FormMethod.Post, new { @class = "orderDetailsContent" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("shippingId", Model.ShippingMethods.FirstOrDefault()?.ShippingMethod.ShippingMethodId, new { @id = "shippingId" })
    @Html.Hidden("payingId", Model.ShippingMethods.FirstOrDefault()?.ShippingMethod.PayingShippingMethods.FirstOrDefault()?.PayingMethodId, new { @id = "payingId" })

    @*<form class="orderDetailsContent">*@

    <div class="boxList">
        <h1 class="caption">1. Wybierz sposób dostawy</h1>
        <div class="boxes">

            @foreach (var item in Model.ShippingMethods)
            {
                <div class="box @boxActive shippingMethod">
                    <i class="@item.ShippingMethod.Icon"></i>
                    <h5>@item.ShippingMethod.Name</h5>
                    <h6>@item.ShippingMethod.Cost.ToString("F") zł</h6>
                    @Html.HiddenFor(d => item.ShippingMethod.ShippingMethodId, new { @class = "shippingInput" })
                </div>
                boxActive = String.Empty;
            }
        </div>
    </div>
    boxActive = "boxActive";

    <div class="boxList">
        <h1 class="caption">2. Wybierz sposób płatności</h1>
        @foreach (var item in Model.ShippingMethods)
        {
            <div class="boxes payingMethods" style="@displayNone">
                @foreach (var payingMethod in item.PayingMethods)
                {
                    <div class="box @boxActive payingBox">
                        <i class="@payingMethod.Icon"></i>
                        <h5>@payingMethod.Name</h5>
                        <h6>@payingMethod.Cost.ToString("F") zł</h6>
                        @Html.HiddenFor(d => payingMethod.PayingMethodId, new { @class = "payingInput" })
                    </div>

                    boxActive = String.Empty;
                }
            </div>
            boxActive = "boxActive";
            displayNone = "display:none";
        }
    </div>

    @*<div class="boxList">
            <h1 class="caption">Razem do zapłaty: 2100zł</h1>
        </div>*@

    <div class="addressInfo">
        <h1 class="caption">3. Wpisz swoje dane do wysyłki</h1>

        <div class="inputHolder">

            <div class="inputLine">
                @Html.LabelFor(d => d.Address.CustomerName)
                <div>
                    @Html.TextBoxFor(d => d.Address.CustomerName)
                    @Html.ValidationMessageFor(d => d.Address.CustomerName)
                </div>
            </div>

            <div class="inputLine">
                @Html.LabelFor(d => d.Address.AddressLine)
                <div>
                    @Html.TextBoxFor(d => d.Address.AddressLine)
                    @Html.ValidationMessageFor(d => d.Address.AddressLine)
                </div>
            </div>

            <div class="inputLine">
                @Html.LabelFor(d => d.Address.ZipCode)
                <div>
                    @Html.TextBoxFor(d => d.Address.ZipCode)
                    @Html.ValidationMessageFor(d => d.Address.ZipCode)
                </div>
            </div>

            <div class="inputLine">
                @Html.LabelFor(d => d.Address.City)
                <div>
                    @Html.TextBoxFor(d => d.Address.City)
                    @Html.ValidationMessageFor(d => d.Address.City)
                </div>
            </div>

            <div class="inputLine">
                @Html.LabelFor(d => d.Address.PhoneNumber)
                <div>
                    @Html.TextBoxFor(d => d.Address.PhoneNumber)
                    @Html.ValidationMessageFor(d => d.Address.PhoneNumber)
                </div>
            </div>

            <div class="inputLine">
                @Html.LabelFor(d => d.Order.Message, "Uwagi")
                @Html.TextAreaFor(d => d.Order.Message, new { @class = "message" })
            </div>
        </div>
    </div>
    <button class="buyBtn" type="submit">Kup</button>
}

@section Scripts
{
    <script src="~/js/order.js"></script>
}
