@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model HardwareStore.ViewModels.Product.ProductDetailsViewModel

@{
    ViewBag.Title = @Model.Product.Name;
    ViewBag.DisableMainStyles = true;
    Layout = "_UserLayout";
}

<link rel="stylesheet" href="~/css/product.css" />


<div class="productContent">

    <div class="searchInfo">
        <div class="path">
            <a href="@Url.Action("Index", "Home")">Kompex</a>
            <div class="break">></div>
            <a href="">@Model.Product.Brand.Name</a>
            <div class="break">></div>
            <a href="">@Model.Product.Category.Name</a>
            <div class="break">></div>
            <a href="">@Model.Product.Brand.Name</a>
        </div>
    </div>


    <div class="slider">
        <div class="left-arrow">
            <div class="arrow"><i class="fas fa-angle-left"></i></div>
        </div>
        @{var className = "imgShow"; }
        @foreach (var image in Model.Images)
        {
            <div class="imgHolder @className">

                <img class="img"
                     src="@image.Url" alt="@image.Name">
            </div>

            className = "imgHidden";
        }


        <div class="right-arrow">
            <div class="arrow"><i class="fas fa-angle-right"></i></div>
        </div>
        <div class="dotHolder">
        </div>
    </div>

    <div class="productNameHolder">
        <h1 class="productName">@Model.Product.Name</h1>
        <div class="ratings">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span>(21 opinii)</span>
        </div>
        <h2 class="price">@(Model.Product.Price)zł</h2>

        @if (SignInManager.IsSignedIn(User))
        {
            @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()

                    <input type="number" name="quantity" value="1" disabled>

                    <input type="number" name="quantity" value="1">
                @Html.HiddenFor(d => d.Product.ProductId)
                <button type="submit">Dodaj do koszyka</button>
            }
        }
        else
        {
            <div class="form">
                <input type="number" name="quantity" value="1">
                <a class="buyBtn" asp-area="Identity" asp-page="/Account/Login" asp-route-returnurl="@Url.Action("Details", "Products", new { id = Model.Product.ProductId })">Dodaj do koszyka</a>
            </div>
        }


        <div class="shortSpec">
            <h1><span>Procesor:</span> Intel Core i7-9750H</h1>
            <h1><span>Grafika:</span> NVIDIA GeForce GTX 1660Ti</h1>
            <h1><span>Pamięć:</span> 16 GB</h1>
            <h1><span>Typ ekranu:</span> Matowy, LED</h1>
        </div>

        <div class="additionalInfo">
            <div class="row">
                <div class="iconHolder"><i class="far fa-clock"></i></div>
                <div class="info">
                    <h3>Kup teraz, otrzymasz jutro</h3>
                    <h4>Zapłać w ciągu 35min 25sek.</h4>
                </div>
            </div>

            <div class="row">
                <div class="iconHolder"><i class="fas fa-truck"></i></div>
                <div class="info">
                    <h3>Darmowa dostawa</h3>
                    <h4>Dowiedz się więcej</h4>
                </div>
            </div>

            <div class="row">
                <div class="iconHolder"><i class="fas fa-undo-alt"></i></div>
                <div class="info">
                    <h3>Zwrot w ciągu 14 dni</h3>
                    <h4>Możesz zwrócić produkt do 10 dni roboczych od jego otrzymania</h4>
                </div>
            </div>

            <div class="row">
                <div class="iconHolder"><i class="fas fa-headset"></i></div>
                <div class="info">
                    <h3>Pomoc techniczna</h3>
                    <h4>W razie jakichkolwiek pytań skontaktuj się z naszą <a href="#">pomocą techniczną</a></h4>
                </div>
            </div>
        </div>
    </div>

    <h1 class="specCaption">Specyfikacja</h1>
    <table class="specification">

        @foreach (var item in Model.Tags)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>
</div>


