@model IEnumerable<HardwareStore.Models.DbModels.Product>

@{
    ViewData["Title"] = "Lista produktów";
}

<h1>Lista produktów</h1>

<p>
    <a asp-action="Create">Dodaj produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
               Cena
            </th>
            <th>
                Marka
            </th>
            <th>Ilość w magazynie</th>
            <th>
                Galeria
            </th>
            <th>Tagi</th>
            <th>Edycja</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>

            <td>
                @if (item.Gallery != null)
                {
                    @Html.ActionLink(item.Gallery.Name, "Edit", "Galleries", new { id = item.GalleryId })
                }
                else
                {
                    <a href="@Url.Action("Create", "Galleries", new {id = item.ProductId })"><i class="fas fa-plus"></i></a>
                    @*@Html.ActionLink(">Dodaj<", "Edit");*@
                }
            </td>
            <td>@Html.ActionLink("Edytuj Tagi", "SetTags", "Products", new { id = item.ProductId })</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
