@model HardwareStore.ViewModels.Product.SetTagsToProductViewModel

@{
    ViewData["Title"] = "SetTags";
}

<h1>Specifykacja</h1>

@using (Html.BeginForm("SetTags", "Products", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TagTransferModels.SingleOrDefault().TagName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TagTransferModels.SingleOrDefault().Value)
                    <button type="submit">Zapisz</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.TagTransferModels.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TagTransferModels[i].TagName)
                    </td>
                    <td>
                        @Html.TextBoxFor(d => Model.TagTransferModels[i].Value)
                        @Html.HiddenFor(d => Model.TagTransferModels[i].TagId)
                        @Html.HiddenFor(d => Model.TagTransferModels[i].TagValueId)
                    </td>
                </tr>
            }
            @Html.HiddenFor(d => d.ProductId)
            @Html.HiddenFor(d => d.HasGallery)
        </tbody>
    </table>
}
